{% extends "layout.html" %}

{% block title %}
   contact us
{% endblock %}

{% block contact %}

{% if contact %}

<div class="container">
<div class="contact">

    <div class="row">


        <div class="col-md-8">
            <h3>Contact us</h3>
          <form STYLE="margin-top:50px" action="/contact" method="POST">

            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your name..">

            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Your last name..">

            <label for="country">Country</label>
            <select id="country" name="country">
            <option value="australia">Australia</option>
            <option value="canada">Canada</option>
            <option value="usa">USA</option>
            </select>

            <label for="subject">Subject</label>
            <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

            <input type="submit" value="Submit">
         </form>
        </div>
     </div>
     </div>
     </div>

{% endif %}

{% endblock %}