<!DOCTYPE html>

<html lang="en">

    <head>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="static/product.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <script src="{{url_for('static', filename='order.js')}}"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




    </head>

    <body>



      <div class="jumbotron text-center"  style="min-width:550px;" >
        <h1>CONFECTIONARY HADDADI </h1>
        <p>Page d'Administration</p>

          <form class="form-inline">
            <div class="input-group">
              <input type="text" class="form-control" size="50" placeholder="search" required>
              <div class="input-group-btn">
                <button type="button" class="btn btn-danger">Search</button>
              </div>
            </div>
          </form>
      </div>




      <div class="container-fluid" align-items="center" style="margin-top:50px">

        <form  action="/myproduct" method ="POST" style="margin-left:20px ; margin-top:-20px" >
          <button style="margin:10px;" type="submit" name="department" value="all" class="btn btn-primary btn-lg">ALL</button>
          <button style="margin:10px;" type="submit" name="department" value="snack" class="btn btn-primary btn-lg">SNACK</button>
          <button  style="margin:10px;"type="submit" name="department" value="candy" class="btn btn-success btn-lg">CANDY</button>
          <button  style="margin:10px;"type="submit" name="department" value="water"class="btn btn-info btn-lg">WATER</button>
          <button  style="margin:10px;"type="submit" name="department" value="juice"class="btn btn-warning btn-lg">JUICE</button>
          <button  style="margin:10px;"type="submit" name="department" value="soda" class="btn btn-danger btn-lg">SODA</button>
          <button style="margin:10px;" type="submit" name="department" value="new" class="btn btn-danger btn-lg">New product</button>
        </form>



{% if customers %}

  <div class="container">
    <h2>USERS </h2>
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
          <th>Username</th>
          <th>Phone Number</th>
          <th>Adress</th>
          <th>Business</th>
        </tr>
      </thead>
      <tbody>
        {% for customer in customers %}
        <tr>
          <td>{{ customer.firstname }}</td>
          <td>{{ customer.lastname }}</td>
          <td>{{ customer.email }}</td>
          <td>{{ customer.username }}</td>
          <td>{{ customer.phone_number }}</td>
          <td>{{ customer.address }}</td>
          <td>{{ customer.business_name }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}


{% if products %}
   <div class="product">
      <div class="row">
        {% for product in products %}

           <div class="col-sm-3">
             <div class="item">
              <div class="row">
                 <form action = "/newproduct" method="post">

                          <div class="col-md-5">
                                  <img class="img" id="img" src="static/images/{{ product.img_name }}" alt="">
                          </div>
                          <div class="col-md-7">
                            <div class="form-inline">
                                <label>Name :</label>
                                <input type="text" name="name" value="{{ product.name }}">
                            </div>
                            <div class="form-inline">
                              <label>Price : </label>
                              <input type="number" step="0.01" name="price" value="{{ product.price }}">
                            </div>
                            <div class="form-inline">
                              <label>Stock :</label>
                              <input type="number" name="stock_units" value="{{ product.stock_units }}">
                            </div>
                            <div class="form-inline">
                              <label>Department :</label>
                              <select style="border:none;" name="department">
                                <option>{{ product.department }}</option>
                                <option>snack</option>
                                <option>candy</option>
                                <option>juice</option>
                                <option>water</option>
                              </select>
                            </div>
                            <div class="form-inline">
                              <label> img: {{ product.img_name }} </label>
                              <input type="file" id="file" name="img_name" value="{{ product.img_name }}" style="display:block">
                              <input type="number" name="product_id" value="{{ product.id }}" style="display:none"  >
                              <input type="number" name="uom_id" value="1" style="display:none"  >
                            </div>
                            <div style="margin-top:25px" class="form-inline">
                              <button style="color:blue" type="submit" value="update" name = "action" > update </button>
                              <button style="color:red" type="submit" value="delete" name = "action" > delete </button>
                            </div>

                       </div>

                  </form>

                </div>
            </div>
           </div>
       {% endfor %}
      </div>
  </div>
{% endif %}



{% if message == "new product" %}

<div class="product">
  <div class="row">
       <div class="col-md-12">
        <div class="newitem">
          <div class="row">
             <form action = "/newproduct" method="post">

                  <div class="col-md-5">
                    <img src= "static/images/twix.jpg" for="myFile" name="img" id ="img" class="img" >
                    <input style="display:none" readonly id="img_name"  name="img_name" value="">
                  </div>

                  <div class="col-md-7">
                    <div class="element">
                   <div class="form-inline">
                      <label>Name   : </label>
                      <input type="text" name="name" autofocus >
                   </div>
                   <div class="form-inline">
                    <label>Price   :</label>
                    <input type="number" step="0.01" name="price" >
                   </div>
                   <div class="form-inline">
                    <label>In Stock :</label>
                    <input type="number" name="stock_units" >
                   </div>
                   <div class="form-inline">
                    <label>Department :</label>
                    <select name="department" value="department">
                      <option>department</option>
                      <option >snack</option>
                      <option>candy</option>
                      <option>juice</option>
                      <option>water</option>
                    </select>
                   </div>
                   <div class="form-inline">
                    <label> img name : </label>
                    <input type="file" id="myFile" name="img_file">
                    <input type="number" name="product_id"  style="display:none"  >
                    <input type="number" name="uom_id" value="1" style="display:none"  >
                   </div>
                   <div>
                    <button class="btn btn-primary btn-lg" type="submit" value="submit" name = "action" > submit </button>
                   </div>
                  </div>
              </form>

           </div>
          </div>
        </div>
       </div>

  </div>

</div>
{% endif %}




</div>

    </body>

    </html>
